#header {
  height: 10vh;
  background: linear-gradient(90deg, #63e06d 0%, #bff1cf 51%, #5fd6ee 100%); }

#nombreMarca {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ESTILO MENU NAVEGACION */
#navigation ul li a:hover {
  background-color: #9bfab0 !important;
  transition: all .5s;
  color: white;
  border-radius: 5px; }

/* ESTILO SUBMENU EQUIPOS */
#menuEquipos li a:hover {
  background-color: #9bfab0 !important;
  visibility: visible;
  opacity: 1; }

#main {
  height: 100vh; }

#footer {
  height: 10vh;
  background: linear-gradient(90deg, #5fd6ee 0%, #bff1cf 51%, #63e06d 100%); }

#imagenesRedes {
  width: 40px; }
