/* ESTILO BODY*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 120vh;
  overflow-x: hidden;
  background-color: #faf2f2 !important; }

/* ESTILO HEADER*/
#header {
  height: 10vh; }

#nombreMarca {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ESTILO MENU NAVEGACION */
#navigation {
  background-color: beige !important; }

#navigation ul li a:hover {
  background-color: #9bfab0 !important;
  transition: all .5s;
  color: white;
  border-radius: 5px; }

/* ESTILO SUBMENU EQUIPOS */
#menuEquipos li a:hover {
  background-color: #9bfab0 !important;
  visibility: visible;
  opacity: 1; }

/* ESTILO MAIN*/
#main {
  height: 100vh; }

#imagenCarrusel {
  object-fit: scale-down;
  height: 50vh;
  width: 100%; }

/* ESTILO FOOTER*/
#footer {
  background: linear-gradient(90deg, #5fd6ee 0%, #bff1cf 51%, #63e06d 100%); }

#imagenesRedes {
  width: 40px; }
